@model IEnumerable<Food>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

@foreach (var item in Model)
{
    <img src="@item.Image" alt="@item.Name" />
    <a asp-action="Detail" asp-controller="Home" asp-route-id="@item.Id"><strong>@item.Name</strong></a>
    <hr />
}